<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-br">
    <title>Drive Sales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Bem vindo ao importador de texto Delimitado!</h1>
            <p>Com este framework é possivel realizar a importaçao dinamicamente, definir qual o tipo de delimitador e criar template de arquivos de forma facil. Visualização com Html 5 responsivo(celular ou browser). Verifique a documentação</p>
            <form action="upload" th:action="@{/fileUpload}" method="post" enctype="multipart/form-data">
                <input type="file" name="tempFile" class="btn btn-primary btn-lg"/>
                <input type="submit" class="btn btn-primary btn-lg"/>
            </form>
        </div>
    </div>
</body>
</html>